*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Ubuntu, Helvetica Neue, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg,
iframe,
audio {
  display: block;
  max-width: 100%;
  border-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
  padding: 0;
}

ul,
ol {
  padding: 0;
  list-style: none;
}
